{% extends 'preentregaApp/parent.html' %}
{% load static %}
{% block topPage %}
<a class="navbar-brand" href="{% url 'index' %}">CODERHOUSE</a>
{% endblock %}
{% block header %}
<h2 class="text-white font-weight-bold">Alumnos</h2>
{% endblock %}
{% block header2 %}
<p class="text-white-75 mb-5">Está demostrado que aprender en grupo es más eficiente y motivador. El networking con tus compañeros de clase ayuda a que puedas tener nuevas ideas y hacer mejores proyectos.</p>
{% endblock %}
{% block changingContent %}
{% endblock %}