{% extends 'preentregaApp/parent.html' %}
{% load static %}
{% block topPage %}
<a class="navbar-brand" href="{% url 'index' %}">CODERHOUSE</a>
{% endblock %}
{% block header %}
<h2 class="text-white font-weight-bold">Cursos</h2>
{% endblock %}
{% block header2 %}
<p class="text-white-75 mb-5">En nuestros cursos online en vivo vas a tener interacción real e instantánea con tu profesor, tutor y compañeros, para resolver todas tus dudas y avanzar en tus proyectos prácticos.</p>
{% endblock %}
{% block changingContent %}
{% endblock %}