{% extends 'preentregaApp/parent.html' %}
{% load static %}
{% block topPage %}
<a class="navbar-brand" href="{% url 'index' %}">CODERHOUSE</a>
{% endblock %}
{% block header %}
<h2 class="text-white font-weight-bold">Profesores</h2>
{% endblock %}
{% block header2 %}
<p class="text-white-75 mb-5">En cada curso se te va a asignar un profesor que va a estar a disposición siempre que lo necesites, para resolver tus dudas y recibir feedback sobre tus proyectos.</p>
{% endblock %}
{% block changingContent %}
{% endblock %}